In [20]:
import numpy as np
import pandas as pd

%matplotlib inline

from datetime import date,datetime,timedelta
from dateutil.parser import parse

import json
import re
from glob import glob

import seaborn as sns
import folium as g

import matplotlib.pyplot as plt
from matplotlib import rc
# 한글 폰트 문제 해결
rc('font', family='AppleGothic')
# 차트 축 <- 음수 부호 지원
plt.rcParams['axes.unicode_minus'] = False

from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

import requests
import csv

In [24]:
f = open('fifa.csv','w', newline='')
wr = csv.writer(f)

wr.writerow(['Id','Name','Age','Nationality','Team','Contract','Height','Weight','Preferred Foot',
             'Overall','Potential','Best overall','Best position','Growth','Joined','Loan date end','Value','Wage','Total Stats',
             'Base Stats','International Reputation'])

for offset in range(0,319):
    url = 'https://sofifa.com/players?type=all&r=220001&set=true&showCol%5B%5D=pi&showCol%5B%5D=ae&showCol%5B%5D=hi&showCol%5B%5D=wi&showCol%5B%5D=pf&showCol%5B%5D=oa&showCol%5B%5D=pt&showCol%5B%5D=bo&showCol%5B%5D=bp&showCol%5B%5D=gu&showCol%5B%5D=jt&showCol%5B%5D=le&showCol%5B%5D=vl&showCol%5B%5D=wg&showCol%5B%5D=tt&showCol%5B%5D=bs&showCol%5B%5D=ir&offset='
    url += str(offset*60) 
    
    webpage = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
    soup = BeautifulSoup(webpage.text,'html.parser')
    trs = soup.select('tbody>tr')
    for tr in trs:
        player_id = tr.select('td.col-pi')[0].text
        name = tr.select('.ellipsis')[0].text
        team = tr.select('td.col-name')[1].select('a')[0].text
        contract = tr.select('td.col-name')[1].select('.sub')[0].text
        nationality = tr.select('td.col-name > img')[0]['title']
        age = tr.select('td.col.col-ae')[0].text
        height = tr.select('td.col.col-hi')[0].text
        weight = tr.select('td.col.col-wi')[0].text
        foot = tr.select('td.col.col-pf')[0].text
        ova = tr.select('td.col.col-oa')[0].text
        best_overall = tr.select('td.col.col-bo')[0].text
        potential = tr.select('td.col.col-pt')[0].text
        best_position = tr.select('td.col.col-bp')[0].text
        growth = tr.select('td.col.col-gu')[0].text
        joined = tr.select('td.col.col-jt')[0].text
        loan_ended = tr.select('td.col.col-le')[0].text
        value = tr.select('td.col.col-vl')[0].text
        wage = tr.select('td.col.col-wg')[0].text
        total_stat = tr.select('td.col.col-tt')[0].text
        base_stat = tr.select('td.col.col-bs')[0].text
        international_ranking = tr.select('td.col.col-ir')[0].text
        wr.writerow([player_id,name,age,nationality,team,contract,height,
                    weight,foot,ova,potential,best_overall,best_position,growth,joined,
                    loan_ended,value,wage,total_stat,base_stat,international_ranking])
f.close()

In [175]:
fifa = pd.read_csv('fifa.csv')
display(fifa)

,Id,Name,Age,Nationality,Team,Contract,Height,Weight,Preferred Foot,Overall,...,Best overall,Best position,Growth,Joined,Loan date end,Value,Wage,Total Stats,Base Stats,International Reputation
0,158023,L. Messi,34,Argentina,Paris Saint-Germain,\n2021 ~ 2023,170cm,72kg,Left,93,...,93,RW,0,"Aug 10, 2021",NaN,€78M,€320K,2219,462,5
1,188545,R. Lewandowski,32,Poland,FC Bayern München,\n2014 ~ 2023,185cm,81kg,Right,92,...,92,ST,0,"Jul 1, 2014",NaN,€119.5M,€270K,2212,460,5
2,231747,K. Mbappé,22,France,Paris Saint-Germain,\n2018 ~ 2022,182cm,73kg,Right,91,...,92,ST,4,"Jul 1, 2018",NaN,€194M,€230K,2175,470,4
3,200389,J. Oblak,28,Slovenia,Atlético de Madrid,\n2014 ~ 2023,188cm,87kg,Right,91,...,91,GK,2,"Jul 16, 2014",NaN,€112M,€130K,1413,489,5
4,192985,K. De Bruyne,30,Belgium,Manchester City,\n2015 ~ 2025,181cm,70kg,Right,91,...,91,CM,0,"Aug 30, 2015",NaN,€125.5M,€350K,2304,485,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19093,256414,P. Ferry,18,Northern Ireland,Derry City,\n2020 ~ 2021,179cm,73kg,Right,47,...,49,ST,12,"Jan 1, 2020",NaN,€110K,€500,1176,233,1
19094,262820,L. Rudden,19,Republic of Ireland,Finn Harps,\n2021 ~ 2021,173cm,66kg,Right,47,...,49,ST,13,"Jun 18, 2021",NaN,€110K,€500,1210,255,1
19095,261547,R. By,22,India,Chennaiyin FC,\n2020 ~ 2022,181cm,74kg,Right,47,...,47,GK,8,"Oct 28, 2020",NaN,€90K,€500,811,259,1
19096,261818,R. Gallagher,20,Republic of Ireland,Finn Harps,\n2018 ~ 2021,180cm,74kg,Right,47,...,49,CAM,14,"Jan 1, 2018",NaN,€110K,€500,1255,269,1
19097,259552,B. Teli,23,India,Jamshedpur FC,\n2020 ~ 2021,175cm,73kg,Right,47,...,50,RM,8,"Oct 24, 2020",NaN,€100K,€500,1370,296,1

In [154]:
url_list.items()

dict_items([('Germany', 'https://fussball.wettpoint.com/en/archives/table/1-bundesliga_2020_germany.html'), ('England', 'https://fussball.wettpoint.com/en/archives/table/premier-league_2020_england.html'), ('Spain', 'https://fussball.wettpoint.com/en/archives/table/laliga_2020_spain.html'), ('Italy', 'https://fussball.wettpoint.com/en/archives/table/serie-a_2020_italy.html'), ('France', 'https://fussball.wettpoint.com/en/archives/table/1-lique_2020_france.html')])

In [155]:
url_list = {'Germany':'https://fussball.wettpoint.com/en/archives/table/1-bundesliga_2020_germany.html',
            'England':'https://fussball.wettpoint.com/en/archives/table/premier-league_2020_england.html',
            'Spain':'https://fussball.wettpoint.com/en/archives/table/laliga_2020_spain.html',
            'Italy':'https://fussball.wettpoint.com/en/archives/table/serie-a_2020_italy.html',
            'France':'https://fussball.wettpoint.com/en/archives/table/1-lique_2020_france.html'}

league_table = {}
for league,url in url_list.items():
    print(url)
    webpage = requests.get(url, headers={'User-Agent':'Chrome/66.0.3359.181'})
    tables = pd.read_html(webpage.content)
    league_table[league] = tables[2]

https://fussball.wettpoint.com/en/archives/table/1-bundesliga_2020_germany.html
https://fussball.wettpoint.com/en/archives/table/premier-league_2020_england.html
https://fussball.wettpoint.com/en/archives/table/laliga_2020_spain.html
https://fussball.wettpoint.com/en/archives/table/serie-a_2020_italy.html
https://fussball.wettpoint.com/en/archives/table/1-lique_2020_france.html

In [156]:
league_table

{'Germany':        0                         1        2     3      4       5            6  \
 0   Rank        1. Bundesliga Team  Gameday  Wins  Draws  Losses  Goals Diff.
 1    NaN                       NaN      NaN   NaN    NaN     NaN          NaN
 2     1.         FC Bayern München       34    24      6       4        99:44
 3     2.                RB Leipzig       34    19      8       7        60:32
 4     3.         Borussia Dortmund       34    20      4      10        75:46
 5     4.             VfL Wolfsburg       34    17     10       7        61:37
 6     5.       Eintracht Frankfurt       34    16     12       6        69:53
 7     6.       Bayer 04 Leverkusen       34    14     10      10        53:39
 8     7.        1. FC Union Berlin       34    12     14       8        50:43
 9     8.  Borussia Mönchengladbach       34    13     10      11        64:56
 10    9.             VfB Stuttgart       34    12      9      13        56:55
 11   10.       Sport-Club Freiburg       34    12      9      13        52:52
 12   11.       TSG 1899 Hoffenheim       34    11     10      13        52:54
 13   12.              1. FSV Mainz       34    10      9      15        39:56
 14   13.               FC Augsburg       34    10      6      18        36:54
 15   14.                Hertha BSC       34     8     11      15        41:52
 16   15.     DSC Arminia Bielefeld       34     9      8      17        26:52
 17   16.                1. FC Köln       34     8      9      17        34:60
 18   17.          SV Werder Bremen       34     7     10      17        36:57
 19   18.             FC Schalke 04       34     3      7      24        25:86

               7       8         9
 0   Goals Diff.  Points  Tendency
 1           NaN     NaN       NaN
 2         (+55)      78       NaN
 3         (+28)      65       NaN
 4         (+29)      64       NaN
 5         (+24)      61       NaN
 6         (+16)      60       NaN
 7         (+14)      52       NaN
 8          (+7)      50       NaN
 9          (+8)      49       NaN
 10         (+1)      45       NaN
 11         (+0)      45       NaN
 12         (-2)      43       NaN
 13        (-17)      39       NaN
 14        (-18)      36       NaN
 15        (-11)      35       NaN
 16        (-26)      35       NaN
 17        (-26)      33       NaN
 18        (-21)      31       NaN
 19        (-61)      16       NaN  ,
 'England':        0                         1        2     3      4       5            6  \
 0   Rank       Premier League Team  Gameday  Wins  Draws  Losses  Goals Diff.
 1    NaN                       NaN      NaN   NaN    NaN     NaN          NaN
 2     1.           Manchester City       38    27      5       6        83:32
 3     2.         Manchester United       38    21     11       6        73:44
 4     3.                 Liverpool       38    20      9       9        68:42
 5     4.                   Chelsea       38    19     10       9        58:36
 6     5.            Leicester City       38    20      6      12        68:50
 7     6.           West Ham United       38    19      8      11        62:47
 8     7.         Tottenham Hotspur       38    18      8      12        68:45
 9     8.                   Arsenal       38    18      7      13        55:39
 10    9.              Leeds United       38    18      5      15        62:54
 11   10.                   Everton       38    17      8      13        47:48
 12   11.               Aston Villa       38    16      7      15        55:46
 13   12.          Newcastle United       38    12      9      17        46:62
 14   13.   Wolverhampton Wanderers       38    12      9      17        36:52
 15   14.            Crystal Palace       38    12      8      18        41:66
 16   15.               Southampton       38    12      7      19        47:68
 17   16.  Brighton and Hove Albion       38     9     14      15        40:46
 18   17.                   Burnley       38    10      9      19        33:55
 19   18.                    Fulham       38     5     13      20        27:53
 20   19.      West Bromwich Albion       38     5     11      22        35:76
 21   20.          Sheffield United       38     7      2      29        20:63

               7       8         9
 0   Goals Diff.  Points  Tendency
 1           NaN     NaN       NaN
 2         (+51)      86       NaN
 3         (+29)      74       NaN
 4         (+26)      69       NaN
 5         (+22)      67       NaN
 6         (+18)      66       NaN
 7         (+15)      65       NaN
 8         (+23)      62       NaN
 9         (+16)      61       NaN
 10         (+8)      59       NaN
 11         (-1)      59       NaN
 12         (+9)      55       NaN
 13        (-16)      45       NaN
 14        (-16)      45       NaN
 15        (-25)      44       NaN
 16        (-21)      43       NaN
 17         (-6)      41       NaN
 18        (-22)      39       NaN
 19        (-26)      28       NaN
 20        (-41)      26       NaN
 21        (-43)      23       NaN  ,
 'Spain':        0                1        2     3      4       5            6  \
 0   Rank      LaLiga Team  Gameday  Wins  Draws  Losses  Goals Diff.
 1    NaN              NaN      NaN   NaN    NaN     NaN          NaN
 2     1.      Real Madrid       57    40     11       6       101:41
 3     2.        Barcelona       57    37     10      10       122:53
 4     3.  Atlético Madrid       57    35     16       6        96:40
 5     4.          Sevilla       57    33     13      11        83:49
 6     5.       Villarreal       57    25     15      17        90:67
 7     6.    Real Sociedad       57    24     15      18        82:61
 8     7.       Real Betis       57    21     15      21        72:78
 9     8.       Celta Vigo       57    18     21      18        76:77
 10    9.       Granada CF       57    21     12      24        74:85
 11   10.          Osasuna       57    19     15      23        57:77
 12   11.  Athletic Bilbao       57    17     17      23        67:67
 13   12.         Valencia       57    16     17      24        67:81
 14   13.          Levante       57    15     19      23        67:81
 15   14.           Getafe       57    15     17      25        45:60
 16   15.           Alavés       57    14     15      28        50:87
 17   16.            Eibar       57    12     17      28        50:79
 18   17.       Valladolid       57    10     22      25        49:77
 19   18.         Cádiz CF       38    11     11      16        36:58
 20   19.            Elche       38     8     12      18        34:55
 21   20.           Huesca       38     7     13      18        34:53
 22   21.          Leganes       19     5      7       7        14:21
 23   22.         Mallorca       19     5      3      11        22:32
 24   23.         Espanyol       19     3      5      11        13:22

               7       8         9
 0   Goals Diff.  Points  Tendency
 1           NaN     NaN       NaN
 2         (+60)     131       NaN
 3         (+69)     121       NaN
 4         (+56)     121       NaN
 5         (+34)     112       NaN
 6         (+23)      90       NaN
 7         (+21)      87       NaN
 8          (-6)      78       NaN
 9          (-1)      75       NaN
 10        (-11)      75       NaN
 11        (-20)      72       NaN
 12         (+0)      68       NaN
 13        (-14)      65       NaN
 14        (-14)      64       NaN
 15        (-15)      62       NaN
 16        (-37)      57       NaN
 17        (-29)      53       NaN
 18        (-28)      52       NaN
 19        (-22)      44       NaN
 20        (-21)      36       NaN
 21        (-19)      34       NaN
 22         (-7)      22       NaN
 23        (-10)      18       NaN
 24         (-9)      14       NaN  ,
 'Italy':        0              1        2     3      4       5            6  \
 0   Rank   Serie A Team  Gameday  Wins  Draws  Losses  Goals Diff.
 1    NaN            NaN      NaN   NaN    NaN     NaN          NaN
 2     1.          Inter       38    28      7       3        89:35
 3     2.       AC Milan       38    24      7       7        74:41
 4     3.       Atalanta       38    23      9       6        90:47
 5     4.       Juventus       38    23      9       6        77:38
 6     5.         Napoli       38    24      5       9        86:41
 7     6.          Lazio       38    21      5      12        61:55
 8     7.        AS Roma       38    18      9      11        68:55
 9     8.       Sassuolo       38    17     11      10        64:56
 10    9.      Sampdoria       38    15      7      16        52:54
 11   10.  Hellas Verona       38    10     13      15        43:48
 12   11.          Genoa       38    10     12      16        47:58
 13   12.        Bologna       38    10     11      17        51:65
 14   13.     Fiorentina       38     9     13      16        47:59
 15   14.        Udinese       38    10     10      18        42:58
 16   15.         Spezia       38     9     12      17        52:72
 17   16.       Cagliari       38     9     10      19        43:59
 18   17.         Torino       38     7     16      15        50:69
 19   18.      Benevento       38     7     12      19        40:75
 20   19.        Crotone       38     6      5      27        45:92
 21   20.          Parma       38     3     11      24        39:83

               7       8         9
 0   Goals Diff.  Points  Tendency
 1           NaN     NaN       NaN
 2         (+54)      91       NaN
 3         (+33)      79       NaN
 4         (+43)      78       NaN
 5         (+39)      78       NaN
 6         (+45)      77       NaN
 7          (+6)      68       NaN
 8         (+13)      63       NaN
 9          (+8)      62       NaN
 10         (-2)      52       NaN
 11         (-5)      43       NaN
 12        (-11)      42       NaN
 13        (-14)      41       NaN
 14        (-12)      40       NaN
 15        (-16)      40       NaN
 16        (-20)      39       NaN
 17        (-16)      37       NaN
 18        (-19)      37       NaN
 19        (-35)      33       NaN
 20        (-47)      23       NaN
 21        (-44)      20       NaN  ,
 'France':        0              1        2     3      4       5            6  \
 0   Rank  1. Lique Team  Gameday  Wins  Draws  Losses  Goals Diff.
 1    NaN            NaN      NaN   NaN    NaN     NaN          NaN
 2     1.          Lille       37    23     11       3        62:22
 3     2.       Paris SG       37    25      4       8        84:28
 4     3.         Monaco       37    24      5       8        76:42
 5     4.           Lyon       37    22     10       5        79:40
 6     5.      Marseille       37    16     11      10        53:46
 7     6.           Lens       37    15     11      11        55:54
 8     7.         Rennes       37    15     10      12        50:40
 9     8.    Montpellier       37    13     12      12        58:61
 10    9.           Nice       37    14      7      16        47:51
 11   10.           Metz       37    12     10      15        43:47
 12   11.  Saint-Étienne       37    12     10      15        42:53
 13   12.         Angers       37    12      8      17        39:56
 14   13.          Reims       37     9     15      13        41:48
 15   14.       Bordeaux       37    12      6      19        40:55
 16   15.     Strasbourg       37    11      8      18        48:57
 17   16.          Brest       37    11      8      18        50:64
 18   17.        Lorient       37    11      8      18        49:67
 19   18.         Nantes       37     9     13      15        46:53
 20   19.          Nîmes       37     9      8      20        40:69
 21   20.          Dijon       37     3      9      25        24:73

               7       8         9
 0   Goals Diff.  Points  Tendency
 1           NaN     NaN       NaN
 2         (+40)      80       NaN
 3         (+56)      79       NaN
 4         (+34)      77       NaN
 5         (+39)      76       NaN
 6          (+7)      59       NaN
 7          (+1)      56       NaN
 8         (+10)      55       NaN
 9          (-3)      51       NaN
 10         (-4)      49       NaN
 11         (-4)      46       NaN
 12        (-11)      46       NaN
 13        (-17)      44       NaN
 14         (-7)      42       NaN
 15        (-15)      42       NaN
 16         (-9)      41       NaN
 17        (-14)      41       NaN
 18        (-18)      41       NaN
 19         (-7)      40       NaN
 20        (-29)      35       NaN
 21        (-49)      18       NaN  }

In [157]:
def clean_league_table(x):
    temp = x.drop([0,1]).drop([6,9],axis=1)
    temp.columns = ['Rank','Team','Games','Wins','Draws','Losses','Goal Diff','Points']
    temp = temp.set_index('Rank')
    return temp

Germany = clean_league_table(league_table['Germany'])
England = clean_league_table(league_table['England'])
Spain = clean_league_table(league_table['Spain'])
Italy = clean_league_table(league_table['Italy'])
France = clean_league_table(league_table['France'])
England

                          Team Games Wins Draws Losses Goal Diff Points
Rank
1.             Manchester City    38   27     5      6     (+51)     86
2.           Manchester United    38   21    11      6     (+29)     74
3.                   Liverpool    38   20     9      9     (+26)     69
4.                     Chelsea    38   19    10      9     (+22)     67
5.              Leicester City    38   20     6     12     (+18)     66
6.             West Ham United    38   19     8     11     (+15)     65
7.           Tottenham Hotspur    38   18     8     12     (+23)     62
8.                     Arsenal    38   18     7     13     (+16)     61
9.                Leeds United    38   18     5     15      (+8)     59
10.                    Everton    38   17     8     13      (-1)     59
11.                Aston Villa    38   16     7     15      (+9)     55
12.           Newcastle United    38   12     9     17     (-16)     45
13.    Wolverhampton Wanderers    38   12     9     17     (-16)     45
14.             Crystal Palace    38   12     8     18     (-25)     44
15.                Southampton    38   12     7     19     (-21)     43
16.   Brighton and Hove Albion    38    9    14     15      (-6)     41
17.                    Burnley    38   10     9     19     (-22)     39
18.                     Fulham    38    5    13     20     (-26)     28
19.       West Bromwich Albion    38    5    11     22     (-41)     26
20.           Sheffield United    38    7     2     29     (-43)     23

In [137]:
Germany['Team']

Rank
1.            FC Bayern München
2.                   RB Leipzig
3.            Borussia Dortmund
4.                VfL Wolfsburg
5.          Eintracht Frankfurt
6.          Bayer 04 Leverkusen
7.           1. FC Union Berlin
8.     Borussia Mönchengladbach
9.                VfB Stuttgart
10.         Sport-Club Freiburg
11.         TSG 1899 Hoffenheim
12.                1. FSV Mainz
13.                 FC Augsburg
14.                  Hertha BSC
15.       DSC Arminia Bielefeld
16.                  1. FC Köln
17.            SV Werder Bremen
18.               FC Schalke 04
Name: Team, dtype: object

In [143]:
# add league 
def find_league(x):
    if a in Germany['Team'].values:
        return 1
fifa['Team'].apply(find_league).sum()

0

In [159]:
France['Team'].values

array(['Lille', 'Paris SG', 'Monaco', 'Lyon', 'Marseille', 'Lens',
       'Rennes', 'Montpellier', 'Nice', 'Metz', 'Saint-Étienne', 'Angers',
       'Reims', 'Bordeaux', 'Strasbourg', 'Brest', 'Lorient', 'Nantes',
       'Nîmes', 'Dijon'], dtype=object)

In [164]:
for name in Germany['Team'].values:
    print(name)

FC Bayern München
RB Leipzig
Borussia Dortmund
VfL Wolfsburg
Eintracht Frankfurt
Bayer 04 Leverkusen
1. FC Union Berlin
Borussia Mönchengladbach
VfB Stuttgart
Sport-Club Freiburg
TSG 1899 Hoffenheim
1. FSV Mainz
FC Augsburg
Hertha BSC
DSC Arminia Bielefeld
1. FC Köln
SV Werder Bremen
FC Schalke 04

In [243]:
def check_team_name(x):
    league_list = [Germany,England,France,Spain,Italy]
    for league in league_list:
        for name in league['Team'].values:
            result = (x['Team']==name).sum()
            if result==0:
                print(name,result)

In [246]:
check_team_name(fifa)

TSG 1899 Hoffenheim 0
1. FSV Mainz 0
Brighton and Hove Albion 0
Lille 0
Paris SG 0
Monaco 0
Lyon 0
Marseille 0
Lens 0
Rennes 0
Montpellier 0
Nice 0
Metz 0
Saint-Étienne 0
Angers 0
Reims 0
Bordeaux 0
Strasbourg 0
Brest 0
Lorient 0
Nantes 0
Nîmes 0
Dijon 0
Real Madrid 0
Barcelona 0
Atlético Madrid 0
Sevilla 0
Villarreal 0
Real Betis 0
Celta Vigo 0
Osasuna 0
Athletic Bilbao 0
Valencia 0
Levante 0
Getafe 0
Alavés 0
Eibar 0
Valladolid 0
Elche 0
Huesca 0
Leganes 0
Mallorca 0
Espanyol 0
AS Roma 0
Sassuolo 0
Sampdoria 0
Udinese 0
Torino 0

In [240]:
fifa['Team']

0        Paris Saint-Germain
1          FC Bayern München
2        Paris Saint-Germain
3         Atlético de Madrid
4            Manchester City
                ...
19093             Derry City
19094             Finn Harps
19095          Chennaiyin FC
19096             Finn Harps
19097          Jamshedpur FC
Name: Team, Length: 19098, dtype: object

In [247]:
webpage = requests.get('https://sofifa.com/teams?type=all&lg%5B%5D=13', headers={'User-Agent':'Chrome/66.0.3359.181'})
tables = pd.read_html(webpage.content)
tables

[    Unnamed: 0                                               Name  OVA  ATT  \
 0          NaN         Manchester City English Premier League (1)   85   84
 1          NaN                 Chelsea English Premier League (1)   84   84
 2          NaN               Liverpool English Premier League (1)   84   86
 3          NaN       Manchester United English Premier League (1)   83   86
 4          NaN       Tottenham Hotspur English Premier League (1)   81   85
 5          NaN                 Arsenal English Premier League (1)   80   83
 6          NaN          Leicester City English Premier League (1)   80   80
 7          NaN                 Everton English Premier League (1)   79   78
 8          NaN         West Ham United English Premier League (1)   79   80
 9          NaN             Aston Villa English Premier League (1)   78   78
 10         NaN  Wolverhampton Wanderers English Premier League...   78   78
 11         NaN                 Burnley English Premier League (1)   76   76
 12         NaN          Crystal Palace English Premier League (1)   76   77
 13         NaN            Leeds United English Premier League (1)   76   78
 14         NaN        Newcastle United English Premier League (1)   76   79
 15         NaN  Brighton & Hove Albion English Premier League (1)   76   77
 16         NaN             Southampton English Premier League (1)   76   76
 17         NaN                 Watford English Premier League (1)   75   75
 18         NaN            Norwich City English Premier League (1)   74   76
 19         NaN               Brentford English Premier League (1)   74   75

     MID  DEF Transfer Budget  Players
 0    87   85           €176M       33
 1    85   82            €85M       33
 2    83   85            €95M       33
 3    83   81           €175M       33
 4    79   79          €72.5M       33
 5    80   79          €77.5M       33
 6    81   78            €50M       33
 7    78   77            €49M       33
 8    78   77            €35M       33
 9    78   78          €37.5M       33
 10   81   78            €45M       33
 11   76   76            €22M       31
 12   76   74            €30M       33
 13   77   76          €32.5M       31
 14   75   76            €30M       33
 15   75   77            €28M       33
 16   77   75          €32.5M       33
 17   76   74            €30M       33
 18   74   74            €20M       33
 19   74   72            €18M       33  ]

In [ ]:
England_team_name = ['Manchester City','Liverpool','Chelsea','Manchester United','Tottenham Hotspur','Leicester City','Arsenal','Everton','West Ham United','Aston Villa','Wolverhampton Wanderers','Burnley','Crystal Palace','Leeds United','Newcastle United','Southampton','Watford','Brighton & Hove Albion','Norwich City','Brentford']