In [74]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
%matplotlib inline

from datetime import date,datetime,timedelta
from dateutil.parser import parse

import json
import re
from glob import glob

import seaborn as sns
import folium as g

import matplotlib.pyplot as plt
from matplotlib import rc
# 한글 폰트 문제 해결
rc('font', family='AppleGothic')
# 차트 축 <- 음수 부호 지원
plt.rcParams['axes.unicode_minus'] = False

from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

import requests
import csv

In [16]:
f = open('fifa.csv','w', newline='')
wr = csv.writer(f)

wr.writerow(['Id','Name','Age','Nationality','Team','Contract','Height','Weight','Preferred Foot',
             'Overall','Potential','Best overall','Best position','Growth','Joined','Loan date end','Value','Wage','Total Stats',
             'Base Stats','International Reputation'])

for offset in range(0,319):
    url = 'https://sofifa.com/players?type=all&r=220001&set=true&showCol%5B%5D=pi&showCol%5B%5D=ae&showCol%5B%5D=hi&showCol%5B%5D=wi&showCol%5B%5D=pf&showCol%5B%5D=oa&showCol%5B%5D=pt&showCol%5B%5D=bo&showCol%5B%5D=bp&showCol%5B%5D=gu&showCol%5B%5D=jt&showCol%5B%5D=le&showCol%5B%5D=vl&showCol%5B%5D=wg&showCol%5B%5D=tt&showCol%5B%5D=bs&showCol%5B%5D=ir&offset='
    url += str(offset*60) 
    
    webpage = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
    soup = BeautifulSoup(webpage.text,'html.parser')
    trs = soup.select('tbody>tr')
    for tr in trs:
        player_id = tr.select('td.col-pi')[0].text
        name = tr.select('.ellipsis')[0].text
        team = tr.select('td.col-name')[1].select('a')[0].text
        contract = tr.select('td.col-name')[1].select('.sub')[0].text
        nationality = tr.select('td.col-name > img')[0]['title']
        age = tr.select('td.col.col-ae')[0].text
        height = tr.select('td.col.col-hi')[0].text
        weight = tr.select('td.col.col-wi')[0].text
        foot = tr.select('td.col.col-pf')[0].text
        ova = tr.select('td.col.col-oa')[0].text
        best_overall = tr.select('td.col.col-bo')[0].text
        potential = tr.select('td.col.col-pt')[0].text
        best_position = tr.select('td.col.col-bp')[0].text
        growth = tr.select('td.col.col-gu')[0].text
        joined = tr.select('td.col.col-jt')[0].text
        loan_ended = tr.select('td.col.col-le')[0].text
        value = tr.select('td.col.col-vl')[0].text
        wage = tr.select('td.col.col-wg')[0].text
        total_stat = tr.select('td.col.col-tt')[0].text
        base_stat = tr.select('td.col.col-bs')[0].text
        international_ranking = tr.select('td.col.col-ir')[0].text
        wr.writerow([player_id,name,age,nationality,team,contract,height,
                    weight,foot,ova,potential,best_overall,best_position,growth,joined,
                    loan_ended,value,wage,total_stat,base_stat,international_ranking])
f.close()

In [68]:
fifa = pd.read_csv('fifa.csv')
fifa['Joined'] = pd.to_datetime(fifa['Joined'],format='%b %d, %Y')
display()

,Id,Name,Age,Nationality,Team,Contract,Height,Weight,Preferred Foot,Overall,...,Best overall,Best position,Growth,Joined,Loan date end,Value,Wage,Total Stats,Base Stats,International Reputation
0,158023,L. Messi,34,Argentina,Paris Saint-Germain,\n2021 ~ 2023,170cm,72kg,Left,93,...,93,RW,0,"Aug 10, 2021",NaN,€78M,€320K,2219,462,5
1,188545,R. Lewandowski,32,Poland,FC Bayern München,\n2014 ~ 2023,185cm,81kg,Right,92,...,92,ST,0,"Jul 1, 2014",NaN,€119.5M,€270K,2212,460,5
2,231747,K. Mbappé,22,France,Paris Saint-Germain,\n2018 ~ 2022,182cm,73kg,Right,91,...,92,ST,4,"Jul 1, 2018",NaN,€194M,€230K,2175,470,4
3,200389,J. Oblak,28,Slovenia,Atlético de Madrid,\n2014 ~ 2023,188cm,87kg,Right,91,...,91,GK,2,"Jul 16, 2014",NaN,€112M,€130K,1413,489,5
4,192985,K. De Bruyne,30,Belgium,Manchester City,\n2015 ~ 2025,181cm,70kg,Right,91,...,91,CM,0,"Aug 30, 2015",NaN,€125.5M,€350K,2304,485,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19093,256414,P. Ferry,18,Northern Ireland,Derry City,\n2020 ~ 2021,179cm,73kg,Right,47,...,49,ST,12,"Jan 1, 2020",NaN,€110K,€500,1176,233,1
19094,262820,L. Rudden,19,Republic of Ireland,Finn Harps,\n2021 ~ 2021,173cm,66kg,Right,47,...,49,ST,13,"Jun 18, 2021",NaN,€110K,€500,1210,255,1
19095,261547,R. By,22,India,Chennaiyin FC,\n2020 ~ 2022,181cm,74kg,Right,47,...,47,GK,8,"Oct 28, 2020",NaN,€90K,€500,811,259,1
19096,261818,R. Gallagher,20,Republic of Ireland,Finn Harps,\n2018 ~ 2021,180cm,74kg,Right,47,...,49,CAM,14,"Jan 1, 2018",NaN,€110K,€500,1255,269,1
19097,259552,B. Teli,23,India,Jamshedpur FC,\n2020 ~ 2021,175cm,73kg,Right,47,...,50,RM,8,"Oct 24, 2020",NaN,€100K,€500,1370,296,1

0       2021-08-10
1       2014-07-01
2       2018-07-01
3       2014-07-16
4       2015-08-30
           ...
19093   2020-01-01
19094   2021-06-18
19095   2020-10-28
19096   2018-01-01
19097   2020-10-24
Name: Joined, Length: 19098, dtype: datetime64[ns]

In [20]:
## 이게 찐

url_list = {'Germany':'https://sofifa.com/team/21/fc-bayern-munchen/live?r=210064&set=true',
            'England':'https://sofifa.com/team/1/arsenal/live?r=210064&set=true',
            'Spain':'https://sofifa.com/team/241/fc-barcelona/live?r=210064&set=true',
            'Italy':'https://sofifa.com/team/47/ac-milan/live?r=210064&set=true',
            'France':'https://sofifa.com/team/73/paris-saint-germain/live?r=210064&set=true'}

league_table = {}

for league,url in url_list.items():
    print(url)
    webpage = requests.get(url, headers={'User-Agent':'Chrome/66.0.3359.181'})
    tables = pd.read_html(webpage.content,encoding='UTF-8')
    league_table[league] = tables[0]
    
def clean_league_table(x):
    table = x.droplevel(level=0,axis=1)
    table.columns = range(table.columns.size)
    table = table[[0,2,3,4,6,7,8,9]]
    table.columns = ['Rank','Team','Points','GD','Match','Win','Draw','Loss']
    table = table.set_index('Rank')
    return table

Germany = clean_league_table(league_table['Germany'])
England = clean_league_table(league_table['England'])
Spain = clean_league_table(league_table['Spain'])
Italy = clean_league_table(league_table['Italy'])
France = clean_league_table(league_table['France'])

https://sofifa.com/team/21/fc-bayern-munchen/live?r=210064&set=true
https://sofifa.com/team/1/arsenal/live?r=210064&set=true
https://sofifa.com/team/241/fc-barcelona/live?r=210064&set=true
https://sofifa.com/team/47/ac-milan/live?r=210064&set=true
https://sofifa.com/team/73/paris-saint-germain/live?r=210064&set=true

In [21]:
def check_team_name(x):
    league_list = [Germany,England,France,Spain,Italy]
    for league in league_list:
        for name in league['Team'].values:
            result = (x['Team']==name).sum()
            if result==0:
                print(name,result)
            
check_team_name(fifa)

In [55]:
def find_league(x):
    if x in Germany['Team'].to_list():
        return 'Germany'
    elif x in England['Team'].to_list():
        return 'England'
    elif x in France['Team'].to_list():
        return 'France'
    elif x in Spain['Team'].to_list():
        return 'Spain'
    elif x in Italy['Team'].to_list():
        return 'Italy'
    else: 
        return 'Else'

# add league column    
fifa['League'] = fifa['Team'].apply(find_league)
fifa['League']

0         France
1        Germany
2         France
3          Spain
4        England
          ...
19093       Else
19094       Else
19095       Else
19096       Else
19097       Else
Name: League, Length: 19098, dtype: object

In [51]:
France['Team'].to_list()

['LOSC Lille',
 'Paris Saint-Germain',
 'AS Monaco',
 'Olympique Lyonnais',
 'Olympique de Marseille',
 'Stade Rennais FC',
 'Racing Club de Lens',
 'Montpellier Hérault SC',
 'OGC Nice',
 'FC Metz',
 'AS Saint-Étienne',
 'FC Girondins de Bordeaux',
 'Angers SCO',
 'Stade de Reims',
 'RC Strasbourg Alsace',
 'FC Lorient',
 'Stade Brestois 29',
 'FC Nantes',
 'Nîmes Olympique',
 'Dijon FCO']

In [52]:
fifa['Team'][0] in France['Team'].to_list()

True

In [54]:
fifa['Team'].apply(find_league)

0         France
1        Germany
2         France
3          Spain
4        England
          ...
19093       Else
19094       Else
19095       Else
19096       Else
19097       Else
Name: Team, Length: 19098, dtype: object

In [66]:
fifa['Joined']

0        Aug 10, 2021
1         Jul 1, 2014
2         Jul 1, 2018
3        Jul 16, 2014
4        Aug 30, 2015
             ...
19093     Jan 1, 2020
19094    Jun 18, 2021
19095    Oct 28, 2020
19096     Jan 1, 2018
19097    Oct 24, 2020
Name: Joined, Length: 19098, dtype: object

In [75]:
display(fifa)

,Id,Name,Age,Nationality,Team,Contract,Height,Weight,Preferred Foot,Overall,Potential,Best overall,Best position,Growth,Joined,Loan date end,Value,Wage,Total Stats,Base Stats,International Reputation
0,158023,L. Messi,34,Argentina,Paris Saint-Germain,\n2021 ~ 2023,170cm,72kg,Left,93,93,93,RW,0,2021-08-10,NaN,€78M,€320K,2219,462,5
1,188545,R. Lewandowski,32,Poland,FC Bayern München,\n2014 ~ 2023,185cm,81kg,Right,92,92,92,ST,0,2014-07-01,NaN,€119.5M,€270K,2212,460,5
2,231747,K. Mbappé,22,France,Paris Saint-Germain,\n2018 ~ 2022,182cm,73kg,Right,91,95,92,ST,4,2018-07-01,NaN,€194M,€230K,2175,470,4
3,200389,J. Oblak,28,Slovenia,Atlético de Madrid,\n2014 ~ 2023,188cm,87kg,Right,91,93,91,GK,2,2014-07-16,NaN,€112M,€130K,1413,489,5
4,192985,K. De Bruyne,30,Belgium,Manchester City,\n2015 ~ 2025,181cm,70kg,Right,91,91,91,CM,0,2015-08-30,NaN,€125.5M,€350K,2304,485,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19093,256414,P. Ferry,18,Northern Ireland,Derry City,\n2020 ~ 2021,179cm,73kg,Right,47,59,49,ST,12,2020-01-01,NaN,€110K,€500,1176,233,1
19094,262820,L. Rudden,19,Republic of Ireland,Finn Harps,\n2021 ~ 2021,173cm,66kg,Right,47,60,49,ST,13,2021-06-18,NaN,€110K,€500,1210,255,1
19095,261547,R. By,22,India,Chennaiyin FC,\n2020 ~ 2022,181cm,74kg,Right,47,55,47,GK,8,2020-10-28,NaN,€90K,€500,811,259,1
19096,261818,R. Gallagher,20,Republic of Ireland,Finn Harps,\n2018 ~ 2021,180cm,74kg,Right,47,61,49,CAM,14,2018-01-01,NaN,€110K,€500,1255,269,1
19097,259552,B. Teli,23,India,Jamshedpur FC,\n2020 ~ 2021,175cm,73kg,Right,47,55,50,RM,8,2020-10-24,NaN,€100K,€500,1370,296,1

In [ ]:
# Joined 전처리 
fifa['Joined'] = pd.to_datetime(fifa['Joined'],format='%b %d, %Y')

In [71]:
# height 전처리
fifa['Height'].str.replace('cm','').astype(int)

0        170
1        185
2        182
3        188
4        181
        ...
19093    179
19094    173
19095    181
19096    180
19097    175
Name: Height, Length: 19098, dtype: int64

In [72]:
# weight 전처리
fifa['Weight'].str.replace('kg','').astype(int)

0        72
1        81
2        73
3        87
4        70
         ..
19093    73
19094    66
19095    74
19096    74
19097    73
Name: Weight, Length: 19098, dtype: int64

In [138]:
# contract는 조금 복잡
temp = fifa['Contract'].str.replace('\n','')
temp

0        2021 ~ 2023
1        2014 ~ 2023
2        2018 ~ 2022
3        2014 ~ 2023
4        2015 ~ 2025
            ...
19093    2020 ~ 2021
19094    2021 ~ 2021
19095    2020 ~ 2022
19096    2018 ~ 2021
19097    2020 ~ 2021
Name: Contract, Length: 19098, dtype: object

In [139]:
a = 'a'
a.startswith('a')

True

In [ ]:
def calc_contract_start(x):
    if x.startwith()

In [121]:
# value 전처리
def calc_value(x):
    if x[-1] == 'M':
        return float(x[:-1])*1000000
    elif x[-1] =='K':
        return float(x[:-1])*1000
    else:
        return float(x)
    
fifa['Value'].str.extract(r'(\d+\.?\d?K?M?)')[0].apply(calc_value)

0         78000000.0
1        119500000.0
2        194000000.0
3        112000000.0
4        125500000.0
            ...
19093       110000.0
19094       110000.0
19095        90000.0
19096       110000.0
19097       100000.0
Name: 0, Length: 19098, dtype: float64

In [122]:
# wage 전처리
def calc_wage(x):
    if x[-1] == 'K':
        return float(x[:-1])*1000
    else:
        return float(x)
fifa['Wage'].str.extract(r'(\d+\.?\d?K?)')[0].apply(calc_wage)

0        320000.0
1        270000.0
2        230000.0
3        130000.0
4        350000.0
           ...
19093       500.0
19094       500.0
19095       500.0
19096       500.0
19097       500.0
Name: 0, Length: 19098, dtype: float64